/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace local "*";
@namespace VisualComponents "VisualComponents.*";
@namespace ContentPages "Components.ContentPages.*";
@namespace Menus "Components.Menus.*";
@namespace TuringMachine "Components.TuringMachine.*";
@namespace Registration "Registration.*";


/*--------------------     Registration    -----------------------------*/
Registration|RegistrationWindow{
	backgroundColor: #eeeeee;	
}

#headerField{
	textAlign: center;	
	fontSize: 22;
}

Registration|RegistrationWindow s|TextInput{
	fontSize: 18;
}

Registration|RegistrationWindow s|Button{
	skinClass: ClassReference("Skins.ButtonGreenSkin");
}

Registration|RegistrationWindow s|Button s|Label{
	fontSize: 16;	
}





/*--------------------     Menu    -----------------------------*/
Menus|HeaderMenu s|Label{
	fontSize: 19;
	fontFamily: Helvetica;
	paddingLeft: 20;
	paddingRight: 20;
}

Menus|HeaderMenu s|Button s|Label{
	fontSize: 12;
}
Menus|HeaderMenu s|Button{
	skinClass: ClassReference("Skins.ButtonGreenSkin");
}

Menus|LeftMenu s|Button{
	skinClass: ClassReference("Skins.ButtonBlueSkin");
}

Menus|LeftMenu s|Button s|Label{
	fontSize: 13;
	paddingRight: 5;
}

#openMenuBtn{
	skinClass: ClassReference("Skins.ButtonBlueSkin");
}




/*-------------------- Content Pages -----------------------------*/
ContentPages|IntroCP s|Label, ContentPages|FinalTestCP s|Label, 
ContentPages|InformalCP s|Label, ContentPages|StrongCP s|Label,
ContentPages|StatisticsCP s|Label, ContentPages|TuringChurchCP s|Label{
	fontSize: 16;
	fontWeight: bold;
}

ContentPages|IntroCP s|RichEditableText, ContentPages|FinalTestCP s|RichEditableText, 
ContentPages|InformalCP s|RichEditableText, ContentPages|StrongCP s|RichEditableText,
ContentPages|StatisticsCP s|RichEditableText, ContentPages|TuringChurchCP s|RichEditableText
{
	fontSize: 15;
	textAlign: justify;
	paragraphSpaceAfter: 7;
	paragraphSpaceBefore: 7;
}



/*-------------------- Turing Machine -----------------------------*/
TuringMachine|TMview s|Label{
	fontSize: 14;
	fontWeight: normal;
	fontStyle: italic;
}
TuringMachine|TMview s|RichEditableText{
	fontSize: 18;
	fontWeight: normal;
	paddingLeft: 5;
	paddingTop: 5;
	paddingBottom: 5;
	paddingRight: 5;
	
}

TuringMachine|TMLineController s|TextInput{
	textAlign: center;
	fontSize: 17;
	skinClass: ClassReference("Skins.TextBoxSkin");
}

TuringMachine|TMview s|Button{
	skinClass: ClassReference("Skins.ButtonGreenSkin");	
}

TuringMachine|TMHeaderRenderer s|RichText{
	backgroundColor: #dceeff;
	fontSize: 15;
	fontStyle: normal;
}

TuringMachine|TMCommandRenderer s|TextInput{
	backgroundColor: #eefeff;
	fontSize: 17;
	textAlign: center;
}



